<style lang="scss">
  .search-form{
    margin-top: -50px;
  }
</style>
<template>
  <div class="search-page container-fluid container-wide">
    <div class="row">
      <div class="col-lg-4 half_col">
        <div class="select-holder">
          <select id="category" class="form-control" v-model="fields.category" v-on:change="getPosts">
            <option value="*">Any Category</option>
            <option v-for="category in categories" :value="category.id">{{category.name}}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <news-show :posts="posts" :loadmore="loadmore" @loadmore="loadMore()"></news-show>
    </div>
  </div>  
</template>
<script>
export default {
  props: {
    categories: Array
  },
  data() {
    return {
      fields: {
        title: '',
        category: '*'
      },
      errors: {},
      success: false,
      loaded: true,
      posts: [],
      limit: 6,
      page: 1,
      loadmore: true,
    }
  },
  mounted(){
    this.getPosts();
  },
  methods: {
    loadMore(){
      this.page++;
      this.morePosts();
    },
    morePosts(page = this.page) {
      if (this.loaded) {

        this.loaded = false;
        this.success = false;
        this.errors = {};
        this.offset = 0;

        axios.get('/api/news/get?limit=' + this.limit + '&page=' + page + '&title=' + this.fields.title + '&category=' + this.fields.category).then(response => {
          // Empty fields and enable success message
          this.loaded = true;
          this.success = true;
          var app = this;
          response.data.data.forEach(function(element){
            app.posts.push(element);
          });
          if(response.data.last_page == response.data.current_page){
            this.loadmore = false;
          }
          // console.log(this.jobs);
        })
        .catch(error => {
          // Error handling
          this.loaded = true;
          console.log(error);
        });
      }
    },
    getPosts(page = 1) {
      if (this.loaded) {

        this.loaded = false;
        this.success = false;
        this.errors = {};
        this.offset = 0;
        this.loadmore = true;
        this.page = 1;
        axios.get('/api/news/get?limit=' + this.limit + '&page=' + page + '&title=' + this.fields.title + '&category=' + this.fields.category).then(response => {
          // Empty fields and enable success message
          this.loaded = true;
          this.success = true;
          this.posts = response.data.data;
          if(response.data.last_page == response.data.current_page){
            this.loadmore = false;
          }
          // console.log(this.jobs);
        })
        .catch(error => {
          // Error handling
          this.loaded = true;
          console.log(error);
        });
      }
    },
  },
}
</script>