.no-webp{
	.home-top{
		background-image: url('/img/bg/home-top.jpg');
	}
	.about-top{
		background-image: url('/img/bg/about-top.jpg');
	}
	.tours-top{
		background-image: url('/img/bg/tours-top.jpg');
	}
	.contact-top{
		background-image: url('/img/bg/contact-top.jpg');
	}
}
.webp{
	.home-top{
		background-image: url('/img/bg/home-top.webp');
	}
	.about-top{
		background-image: url('/img/bg/about-top.webp');
	}
	.tours-top{
		background-image: url('/img/bg/tours-top.webp');
	}
	.contact-top{
		background-image: url('/img/bg/contact-top.webp');
	}
}
.bg{
	@include background();
}
.bg-grey{
	filter: grayscale(100%);
	cursor: pointer;
	@include background();
	@include transition(300ms);
	&:hover{
		filter: grayscale(10%);
	}
}
.bg-contain{
	background-size: contain;
	background-repeat: no-repeat;
	background-position: right;
}
.dark-bg{
	background-color: $navy;
}
.bg-trans-white{
	background-color: rgba(255,255,255,0.9) !important;
}
.bg-green{
	background-color: $green !important;
}
.bg-blue{
	background-color: $primary !important;
}
.bg-fixed{
	background-attachment: fixed;
}
.bg-down-up{
	position: relative;
	&:before{
		content: '';
		position: absolute;
		bottom: 0;
		right: 0;
		width: 100%;
		height: 25%;
		z-index: 1;
		background: rgb(255,255,255);
		background: -webkit-linear-gradient(to top, white 0%, rgba(255, 255, 255, .3) 55%, rgba(255, 255, 255, 0) 100%);
		background: -o-linear-gradient(to top, white 0%, rgba(255, 255, 255, .3) 55%, rgba(255, 255, 255, 0) 100%);
		background: linear-gradient(to top, white 0%, rgba(255, 255, 255, .3) 55%, rgba(255, 255, 255, 0) 100%);
	}
}