// Selected Text -----------------
::selection {
	color: $white;
	background: $primary; /* WebKit/Blink Browsers */
}
::-moz-selection {
	color: $white;
	background: $primary; /* Gecko Browsers */
}
body{
	height: 100%;
	width: 100%;
	overflow: auto;
	background-color: $body-bg;
	color: $darkgrey;
	font-family: $body;
	h1{
		font-family: $title;
		font-weight: 700;
		font-style: normal;
		font-size: 4rem;
		&.page-top{
			font-weight: 700;
			font-size: 5rem;
			line-height: 6rem;
		}
		&.page-top-alt{
			font-size: 4.6rem;
    		line-height: 5.5rem;
		}
		&.news-title{
			font-size: 3.5rem;
		}
	}
	h2{
		font-size: 3rem;
		line-height: 4.2rem;
		font-weight: 900;
		font-style: normal;
		font-family: $title;
	}
	h3{
		font-size: 2.3rem;
		font-weight: 900;
		font-family: $title;
	}
	h4{
		font-size: 1.5rem;
		font-weight: 700;
		font-family: $title;
		&.tour-title{
			font-family: $body;
			font-weight: 700;
		}
	}
	h5{
		font-size: 1.3rem;
		font-weight: 700;
		font-family: $title;
	}
	p{
		font-size: 1.1rem;
		line-height: 1.8;
		&.statement{
			font-weight: 700;
			font-size: 1.5rem;
			line-height: 2.4rem;
		}
		&.text-1{
			font-size: 1rem;
		}
		&.text-small{
			font-size: 0.9rem;
		}
		&.text-smaller{
			font-size: 0.8rem;
		}
		&.text-large{
			font-size: 1.2rem;
		}
		&.text-larger{
			font-size: 1.4rem;
		}
		&.caption{
			font-size: 0.9rem;
		}
		&.letter-spacing{
			letter-spacing: 2px;
		}
		&.below-title{
			font-family: $title;
			font-size: 1.8rem;
		}
	}
	a{
		@include transition(300ms);
		&.white{
			color: $white;
			&:hover{
				color: $darkgrey;
			}
		}
		&.text-purple{
			color: $purple !important;
		}
		&.text-red{
			color: $red !important;
		}
		&.text-orange{
			color: $orange !important;
		}
		&.text-black{
			color: $black !important;
		}
		&:hover{
			text-decoration: none !important;
		}
	}
	.text-purple{
		color: $purple !important;
	}
	.text-red{
		color: $red !important;
	}
	.text-orange{
		color: $orange !important;
	}
	.text-black{
		color: $black !important;
	}
	.top-section{
		padding-top: 120px !important;
	}
	.social-links{
		font-size: 24px;
	}
	.white-text{
		color: $white;
	}
	.text-pink{
		color: $pink;
	}
	.text-green{
		color: $green !important;
	}
	.text-red{
		color: $red;
	}
	.text-dark{
		color: $darkgrey !important;
	}
	.text-primary-dark{
		color: $primarydark !important;
	}
	.text-primary-light{
		color: $primarylight !important;
	}
	.text-title{
		font-family: $title !important;
	}
}
.home-top{
	p.text-large{
		font-size: 2vw;
		i{
			margin-right: 1.2vw;
		}
	}
}
.big-quote{
	font-size: 50px;
	margin-bottom: 1rem;
	color: $primary;
}
.cursor-pointer{
	cursor: pointer;
}
#content{
	z-index: 1;
	@include transition(300ms);
	&.opacity{
		opacity: 0.1;
	}
}
.bg-second{
	background-color: $darkgrey;
	color: $white;
}
.text-secondary{
	color: $second !important;
}
.text-grey{
	color: $bluegrey;
}
.tour-body{
	font-size: 1.1rem;
}