.btn{
	display: block;
	border-radius: 5px;
	font-family: $body;
	border:0;
	display: inline-block;
	position: relative;
	width: 100%;
	height: 50px;
	font-size: 1rem;
	font-weight: 600;
	padding: 13px 20px;
	max-width: 220px;
	@include transition(300ms);
	&.btn-icon{
		text-align: left !important;
		i{
			position: absolute;
			right: 15px;
			top: 17px;
			font-size: 1rem;
			@include transition(300ms);
		}
		&:hover{
			i{
				right: 10px;
			}
		}
	}
	&.btn-icon-down{
		text-align: left !important;
		i{
			position: absolute;
			right: 15px;
			top: 17px;
			font-size: 1rem;
			@include transition(300ms);
		}
		&:hover{
			i{
				top: 22px;
			}
		}
	}
	&.no-max{
		max-width: 1000px;
	}
	&.btn-big{
		max-width: 260px;
		height: 62px;
		font-size: 1rem;
		padding: 1.2rem;
	}
}
.btn-primary{
	background-color: $primary;
	color: $white;
	
	&:hover{
		background-color: $primarylight;
		color: $white !important;
		text-decoration: none !important;
	}
	&:disabled{
		color: $white;
	}
}
.btn-white{
	background-color: $white;
	color: $darkgrey;
	&:hover{
		background-color: $white;
		color: $primary !important;
		text-decoration: none !important;
	}
	&:disabled{
		color: $grey;
	}
}