#app{
	min-height: 100vh;
	&.admin{
		padding-top: 95px;
	}
}
.primary-line{
	border-top: 1px solid $primary;
}
.rounded{
	position: relative;
	border-radius: 30px !important;
	overflow: hidden;
	.close{
		position: absolute;
		top: 1.2rem;
		right: -1.5rem;
		cursor: pointer;
	}
}
.mt-minus{
	margin-top: -60vh;
}
.mt-minus-smaller{
	margin-top: -230px;
	min-height: 450px;
}
.mt-minus-small{
	margin-top: -20vh;
}
.shadow{
	@include boxShadow();
}
.z-1{
	z-index: 1;
}
.z-2{
	z-index: 2;
}
.z-3{
	z-index: 3;
}
.tour{
	p{
		margin-bottom: 0;
	}
}
.list-style-none{
	list-style: none;
}
.card{
	border-radius:5px;
}
.line{
	position:relative;
	display: block;
	height: 1px;
	span{
		width: 65px;
		height: 4px;
		display: block;
		background-color: $primary;
	}
	&.line-white{
		span{
			background-color: $white;
		}
	}
	&.line-dark{
		span{
			background-color: $darkgrey;
		}
	}
	&.line-primary-light{
		span{
			background-color: $primarylight;
		}
	}
	&.line-center{
		span{
			margin: auto;
		}
	}
	&.line-right{
		span{
			float: right;
		}
	}
}
.full-height{
	height: 100vh;
}
.modal{
	background-color: $transgreydark;
	color: $white;
	text-align: center;
	z-index: 1500;
	.modal-content{
		background-color: transparent;
		border: 0;
	}
	&.danger{
		background-color: $transred;
	}
}
.pagination-holder{
	display: table;
	margin: auto;
	.pagination{
		display: inline-flex;
	}
}
.trans{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: $transblue;
}
.modal-close{
	position: absolute;
	top: 1rem;
	right: 1rem;
	z-index: 200;
	width: 40px;
	height: 40px;
	cursor: pointer;
	@include transition(300ms);
	&:hover{
		transform: rotate(90deg);
	}
}
.overflow-x-hidden{
	overflow-x: hidden;
}
#map{
	height: 500px;
}
.testimonial{
	position: relative;
	padding-top: 120px;
	padding-bottom: 120px;
	.testimonial-text{
		font-weight: 700;
		font-style: italic;
		font-size: 1.5rem;
	}
	.quote-top{
		position: absolute;
		top: 0;
		left: -100px;
		width: 100px;
	}
	.quote-bottom{
		position: absolute;
		bottom: 0;
		right: -100px;
		width: 100px;
	}
}
.collage-card{
	background-color: rgba(255,255,255,0.85);
	position: absolute;
	top: 62px;
	left: 215px;
	width: calc(100% - 430px);
	&.collage-card-2{
		top: 80px;
	}
}