// Footer ---------------
footer{
	background-color: $darkgrey;
	color: $white;
	a{
		cursor: pointer;
		color: $white;
		&:hover{
			color: $primarylight
		}
	}
	p{
		font-size: 1.0rem;
	}
	img{
		max-width: 100%;
	}
	.footer-social{
		font-size: 25px;
	}
	.menu_logo{
		width:150px;
	}
}
.footer-overflow{
	margin-bottom: -100px;
	position: relative;
}
#footer-top{
	position: relative;
	.smiley{
		position: absolute;
		top: -112px;
    left: -90px;
    width: 154px;
	}
	.table-img{
    position: absolute;
    bottom: -60px;
    left: 0;
    width: 300px;
	}
}