.form-group{
	&.select-form-group{
		
	}
}
.form-check-label{
	font-family: $body;
	font-weight: 300;
	font-size: 12px;
}
label{
	font-family: $body;
	&.label-large{
		font-size: 18px;
		font-weight: 700;
	}
}
input.form-control,
select.form-control{
	border: 0 !important;
	height: 50px;
	border-radius: 5px;
	outline: none !important;
	font-family: $body;
	color: $black;
	font-weight: bold;
	&:focus{
		outline: none !important;
	}
	&.smaller{
		border-radius: 5px;
    	height: 38px;
	}
	&.shadow{
		@include boxShadow();
	}
}
input.form-control{
	padding-left: 1rem;
	@include boxShadow();
}
textarea.form-control{
	border:0 !important;
	font-family: $body;
	color: $black;
	height: 100px;
	padding-top: 1rem;
	padding-left: 1rem;
	border-radius: 5px;
	outline: none !important;
	font-weight: bold;
	@include boxShadow();
}
.filter-selector{
	cursor: pointer;
}
.pagination{
	display: table;
	margin: auto;
	.page-item{
		display: table-cell;
	}
}
.select-holder{
	position: relative;
  border: 1px solid $darkgrey;
  overflow: hidden;
  background: $white;
  border-radius: 5px;
  select{
    border-radius: 5px;
    appearance: none;
    padding: 0 1rem;
    z-index: 1;
    background: none;
    position: relative;
    border: 0;
  }
  &:after{
    content: url('/img/icons/chevron-down-dark.svg');
    width: 15px;
    position: absolute;
    right: 1rem;
    top: 14px;
    z-index: 0;
  }
}