// Menu  --------------------
#menu_btn,
.menu_btn{
	position: fixed;
  top: 26px;
  right: 0.3rem;
	z-index: 1100;
	cursor: pointer;
	width: 40px;
	height: 40px;
	display: inline-block;
	@include transition(300ms);
	.nav-icon {
		width: 30px;
		height: 30px;
		position: relative;
		z-index: 110;
		cursor: pointer;
		@include transition(300ms);
		span {
			display: block;
			position: absolute;
			border-radius: 5px;
			height: 3px;
			width: 100%;
			background: $white;
			opacity: 1;
			right: 0;
			cursor: pointer;
			@include transition(300ms);
		}
		span:nth-child(1) {
			top: 0px;
		}
		span:nth-child(2) {
			top: 9px; 
			@include transition(300ms);
		}
		span:nth-child(3) {
			top: 18px; 
			width: 60%;
		}
		&.nav_open{
			span {
				background: $darkgrey;
			}
			span:nth-child(1) {
				top: 9px !important;
				-webkit-transform: rotate(135deg) !important;
				-moz-transform: rotate(135deg) !important;
				-o-transform: rotate(135deg) !important;
				transform: rotate(135deg) !important; 
			}
			span:nth-child(2) {
				opacity: 0 !important;
				left: 20vw !important; 
			}
			span:nth-child(3) {
				width: 100%;
				top: 9px !important;
				-webkit-transform: rotate(-135deg) !important;
				-moz-transform: rotate(-135deg) !important;
				-o-transform: rotate(-135deg) !important;
				transform: rotate(-135deg) !important; 
			}
		}
	}
	&:hover{
		.nav-icon{
			span:nth-child(3) {
				width: 100%;
			}
		}
	}
	&.on{
		background-color: #e83e8c;
	}
	&.dark{
		.nav-icon {
			span {
				background: $darkgrey;
			}
		}
	}
}
.light{
	#menu_btn{
		.nav-icon {
			span {
				background: $darkgrey;
			}
		}
	}
	.menu{
		.menu-links{
			.menu-item{
				a{
					&:hover{
						color: $primary;
					}
				}
				&:hover,
				&.active{
					color: $primary !important;
				}
			}
		}
	}
}
.menu-holder{
	position: relative;
	z-index: 100;
}
#scroll-menu{
	background-color: $white;
	position: fixed;
	top: -500px;
	left: 0;
	z-index: 200;
	width: 100%;
	@include menuBoxShadow();
	@include transition(300ms);
	.menu_logo{
		width: 80px;
    margin-bottom: -60px;
	}
	.menu-links{
		.menu-item{
			display: inline-block;
			margin-left: 2.5rem;
			cursor: pointer;
			color: $darkgrey;
			font-family: $body;
			font-weight: 700;
			font-size: 1rem;
			@include transition(300ms);
			a{
				color: $darkgrey;
				&:hover{
					color: $primary;
				}
			}
			&:hover,
			&.active{
				color: $primary !important;
			}
		}
	}
	&.on{
		top: 0;
	}
}
.menu{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	width: 100%;
	.menu_logo{
		width: 80px;
		&.menu_logo_normal{
			width: 80px;
		}
	}
	.menu-links{
		.menu-item{
			display: inline-block;
			margin-left: 2.5rem;
			cursor: pointer;
			color: $darkgrey;
			font-family: $body;
			font-weight: 700;
			font-size: 1.3em;
			@include transition(300ms);
			a{
				color: $darkgrey;
				&:hover{
					color: $white;
					text-decoration: underline !important;
				}
			}
			i{
				font-size: 1.2rem;
				margin-left: 10px;
			}
			&:hover,
			&.active{
				color: $white !important;
				text-decoration: underline !important;
			}
		}
	}
	&.opacity{
		opacity: 0;
	}
}
#main-menu{
	position: absolute;
	top: 0;
	left: 0;
}
.close-menu{
	cursor: pointer;
	@include transition(300ms);
	max-width: 20px;
	&:hover{
		transform: rotate(90deg);
		-webkit-transform: rotate(90deg);
		-moz-transform: rotate(90deg);
	}
}
#menu-trigger{
	position: absolute;
	top: 100vh;
	left: 0;
	width: 1px;
	height: 1px;
}
#menu_body_hide{
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: $primary;
	display: table;
	opacity: 0;
	z-index: -1;
	@include transition(300ms);
	&.on{
		opacity: 1;
		z-index: 220;
	}
}
.mobile-menu{
	position: fixed;
	top: 0;
	right: -150vw;
	width: 320px;
	height: 100vh;
	background-color: $body-bg;
	color: $darkgrey;
	padding-left: 1rem;
	z-index: 1000;
	@include menuBoxShadow();
	@include transition(300ms);
	.menu-links{
		.menu-item{
			display: block;
			cursor: pointer;
			color: $darkgrey;
			font-weight: 700;
			font-size: 4.5vw;
			margin-bottom: 1rem !important;
			display: inline-block;
			@include transition(300ms);
			a{
				color: $darkgrey;
				&:hover{
					color: $primary;
				}
			}
			i{
				font-size: 1.2rem;
				margin-left: 10px;
			}
		}
	}
	.menu_logo{
		position: absolute;
		top: 1.5rem;
		left: 2rem;
		z-index: 100;
	}
	&.on{
		right: 0;
	}
}