// Body
$body-bg: #ffffff;

// Typography
$font-family-sans-serif: 'PT Sans', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #00ADEF;
$indigo: #6574cd;
$purple: #6F3A9E;
$pink: #F4406D;
$red: #E8374B;
$orange: #FFA12C;
$yellow: #ffed4a;
$green: #01C2AA;
$darkgreen: #42872c;
$teal: #01C2AA;
$cyan: #6cb2eb;
$formgrey: #757575;

// Colours -----------------
$primary: #248D5B; 
$primarylight: #1ac574;
$primarydark: #1b6b45;
$second: #187EF4;
$white: #fff;
$black: #000;
$navy: #152C53;
$lightnavy: #465966;
$darknavy: #0A162B;
$darkgrey: #112e44;
$midgrey: #4D4D4D;
$lightbg: #CED4D8;
$lightgrey: #F2F2F2;
$grey: #B4B4B4;
$bluegrey: #A8B1B7;

$facebook: #405a97;
$twitter: #4ba0f0;
$linkedin: #3075b0;
$whatsapp: #6fbe55;

$transgreylight: rgba(0,0,0,0.5);
$transgrey: rgba(0,0,0,0.9);
$transgreydark: rgba(0,0,0,0.85);
$transwhite: rgba(255,255,255,0.4);
$transblue: rgba(38,60,75,0.4);
$transbluelight: rgba(26,126,244,0.2);
$transbluedark: rgba(38,60,75,0.9);
$transred: rgba(224,38,28,0.8);
$transdark: rgba(19,22,41,0.3);

// Fonts --------------------
$title: 'Vollkorn', serif;
$body: 'PT Sans', sans-serif;
$fancy: 'PT Sans', sans-serif;