<template>
  <div :class="type + ' py-5 my-5 mob-my-0 mob-pb-0 ' + tour.slug + '-card'">
    <div class="row">
      <div class="card border-0 px-5 py-5 pb-4 mob-px-3 mob-py-4 shadow mx-3">
        <div class="row">
          <div class="col-lg-8 text-center text-lg-left">
            <p class="text-small letter-spacing text-grey mb-0"><b>UPCOMING</b></p>
            <h3 class="mb-2">{{tour.title}} Tours</h3>
          </div>
          <div class="col-lg-4" v-if="hidedate == false">
            <datetime type="date" v-model="start" :input-class="'form-control datepick'" format="dd/MM/yyyy"></datetime>
            <div v-if="errors && errors.start" class="text-primary">{{ errors.start[0] }}</div>
            <p class="mt-1 text-small mob-mb-3 text-center"> or: <u class="text-primary cursor-pointer d-block d-md-inline" @click="resetStart()">reset date & view next upcoming tours</u></p>
          </div>
          <div class="col-12" v-if="events.data.length > 0">
            <div class="row">
        			<div class="col-md-6 mt-4" v-for="event in events.data">
                <div class="card py-3 px-3 mob-px-0 border-0 shadow">
                  <div class="container">
                    <div class="row text-center text-md-left">
                      <div class="col-md-7 mob-mb-2">
                        <p class="text-small mb-0 mt-2 pt-1"><i :class="'fa fa-calendar mr-1 text-'+color"></i> <b>{{moment(event.start)}}</b><i :class="'fa fa-clock-o mr-1 ml-4 text-'+color"></i> <b>{{momenttime(event.start)}}</b></p>
                      </div>
                      <div class="col-md-5 mob-mb-2">
                      	<a :href="event.link" target="_blank">
                        	<div :class="'btn btn-'+color+' btn-icon btn-small'">Book now <i class="fa fa-arrow-circle-right"></i></div>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 mt-4" v-else>
            <p class="text-large mb-4" v-if="start != ''">Sorry no tours found for the date you selected, please try another date.</p>
            <p class="text-large mb-4" v-else>Sorry, there are no tours scheduled at the moment. Please <a href="/contact">get in touch</a> to find out when the next tour will be.</p>
          </div>
          <div class="col-12 mt-5 text-center" v-if="loadmore && events.to < events.total">
            <div class="btn btn-primary" @click="moreTours()">Load More</div>
          </div>
        </div>
      </div>
		</div>
	</div>
</template>
<script>
  import 'vue-datetime/dist/vue-datetime.css';
  export default {
  	props: {
      loadmore: Boolean,
      tour: Object,
      color: String,
      type: String
    },
    data() {
      return {
        errors: {},
        success: false,
        loaded: true,
        events: {
          total: 0
        },
        eventspage: 1,
        limit: 10,
        start: "",
        hidedate: false,
        counter: 0,
      }
    },
    watch:{
      events: function(newValue, oldValue) {},
      start: function(newValue, oldValue) {
        if(newValue == ''){
          $('.'+this.tour.slug+'-card .vdatetime').removeClass('hide-placeholder');
        }else{
          $('.'+this.tour.slug+'-card .vdatetime').addClass('hide-placeholder');
        }
        this.getEvents();
      }
    },
    mounted(){
      this.getEvents();
    },
    methods: {
      moreTours(){
        this.eventspage++;
        this.getMoreEvents(this.eventspage);
      },
      resetStart(){
        this.start = "";
        
      },
      moment: function (date) {
        return moment(date).format('DD/MM/YYYY');
      },
      momenttime: function (date) {
      	return moment(date).format('HH:mm');
      },
      getEvents(page = 1) {
        if (this.loaded) {
          this.loaded = false;
          this.success = false;
          this.errors = {};
          this.offset = 0;
          axios.get('/api/events/get/' + this.tour.id + '?page=' + page + '&start=' + this.start).then(response => {
            // Empty fields and enable success message
            this.loaded = true;
            this.success = true;
            this.events = response.data;
            if(this.counter == 0){
              if(this.events.total == 0){
                this.hidedate = true;
              }
            }
            this.counter++;
          })
          .catch(error => {
            // Error handling
            this.loaded = true;
            console.log(error);
          });
        }
      },
      getMoreEvents(page) {
        if (this.loaded) {
          this.loaded = false;
          this.success = false;
          this.errors = {};
          this.offset = 0;
          axios.get('/api/events/get/' + this.tour.id + '?page=' + page + '&start=' + this.start).then(response => {
            // Empty fields and enable success message
            this.loaded = true;
            this.success = true;
            for(var x = 0; x < response.data.data.length; x++){
              this.events.data.push(response.data.data[x]);
            }
            this.events.current_page = this.eventspage;
            this.events.to = this.events.to + response.data.data.length;
            console.log(this.events);
          })
          .catch(error => {
            // Error handling
            this.loaded = true;
            console.log(error);
          });
        }
      },
    },
  }
</script>