<template>
	<form id="contact-page-form" @submit.prevent="submit" class="row half_row">
		<div class="form-group col-lg-6 half_col">
			<label for="name" class="mb-1"><b>Name</b></label>
			<input id="name" type="text" class="form-control" name="name" placeholder="Name*" v-model="fields.name" />
			<div v-if="errors && errors.name" class="text-primary">{{ errors.name[0] }}</div>
		</div>
		<div class="form-group col-lg-6 half_col">
			<label for="phone" class="mb-1 text-dark"><b>Phone</b></label>
			<vue-phone-number-input v-model="phone" @update="setPhoneNumber"></vue-phone-number-input>
			<div v-if="errors && errors.phone" class="text-primary">{{ errors.phone[0] }}</div>
		</div>
		<div class="form-group col-12 half_col">
			<label for="email" class="mb-1"><b>Email</b></label>
			<input id="email" type="email" class="form-control" name="email" placeholder="Email Address*" v-model="fields.email" />
			<div v-if="errors && errors.email" class="text-primary">{{ errors.email[0] }}</div>
		</div>
		<div class="form-group col-12 half_col">
			<label for="message" class="mb-1"><b>Message</b></label>
			<textarea id="message" type="text" class="form-control" name="message" placeholder="Message*" rows="4" v-model="fields.message"></textarea>
			<div v-if="errors && errors.message" class="text-primary">{{ errors.message[0] }}</div>
		</div>
		<div class="col-12 half_col mt-4">
			<div class="row">
				<div class="col-12 text-center text-lg-right">
					<google-re-captcha-v3
					  v-model="fields.gRecaptchaResponse"
					  ref="captcha"
					  :site-key="recaptcha"
					  id="contact_us_id"
					  
					  action="contact_us"
					></google-re-captcha-v3>
					<p class="text-smaller">This site is protected by reCAPTCHA and the Google <a href="https://policies.google.com/privacy" target="_blank">Privacy Policy</a> and <a href="https://policies.google.com/terms" target="_blank">Terms of Service</a> apply.</p>
					<button id="submit" type="submit"  class="btn btn-primary float-right mob-float-none mx-auto d-inline-block">Send message</button>
				</div>
			</div>
		</div>
	</form>
</template>

<script>
	import GoogleReCaptchaV3 from './googlerecaptchav3/GoogleReCaptchaV3';
	import VuePhoneNumberInput from 'vue-phone-number-input';
	export default {
		components: {
      GoogleReCaptchaV3
    },
		props: {
			recaptcha: String,
			page: String,
			about: String,
		},
		data() {
			return {
				fields: {
					phone: "",
					gRecaptchaResponse: null,
				},
				phone: null,
				errors: {},
				success: false,
				loaded: true,
			}
		},
		methods: {
			setPhoneNumber(value){
				this.fields.phone = value.formattedNumber;
    	},
			messageSent(){
        this.fields = {};
      },
      changeCountry(value){
	  		this.fields.country = value;
	  	},
      submit() {
      	if (this.loaded) {
      		this.loaded = false;
      		this.success = false;
      		this.errors = {};
      		
      		document.getElementById("loader").classList.add("on");
		      document.getElementById("loader-message").innerHTML = "Sending Enquiry";

      		axios.post('/send-message', this.fields)
      		.then(response => {
      			this.$refs.captcha.execute();
	          // Empty fields and enable success message
	          this.loaded = true;
	          this.success = true;
	          this.messageSent();
	          document.getElementById("loader-message").innerHTML = "Enquiry sent successfully";
            $('#close-loader-btn').removeClass('d-none').addClass('d-block');
            $('#loader-roller').removeClass('d-block').addClass('d-none');
            $('#loader-success').removeClass('d-none').addClass('d-block');
	          $('#enquire_modal').modal('hide');
	        })
      		.catch(error => {
      			this.$refs.captcha.execute();
	         // Error handling
	          this.loaded = true;
	          if (error.response.status === 422) {
	          	this.errors = error.response.data.errors || {};
	          	console.log(error.response);
	          	document.getElementById("loader-message").innerHTML = "Check form for errors";
	            document.getElementById("loader").classList.remove("on");
	          }
	        });
      	}else{
      		$('#recaptcha-error').html('Please confirm you are not a robot.');
      	}
      },
    },
  }
</script>
<style lang="scss">
.vue-phone-number-input{
	border-radius: 5px;
	height: 50px !important;
	-webkit-box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.2) !important;
	-moz-box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.2) !important;
	box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.2) !important;
	input,
	.country-selector{
		height: 50px !important;
	}
	.country-selector__country-flag{
		top: 27px;
	}
	.country-selector__toggle{
		top: calc(50% - 6px);
	}
	.country-selector__input,
	.input-tel__input{
		border: 0 !important;
		height: 50px;
	}
	.country-selector__input{
		border-right: 1px solid #f2f2f2 !important;
	}
}
</style>