<template>
	<div class="col-lg-4 mob-px-4 position-relative d-none d-lg-block" sticky-container>
	    <div v-sticky sticky-offset="offset" sticky-side="both" sticky-z-index="20">
				<div class="card bg-primary border-0 shadow p-4">
					<div class="text-center text-white">
						<h3 class="">Book now</h3>
						<p class="mb-4">Leave your details and let us know when you would like your tour to begin!</p>
						<button id="openForm" class="btn btn-white" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" @click="hideButton">Book Now</button>
					</div>
				  <div class="collapse" id="collapseExample">
						<tour-form :tour="tour" btn="white" labels="white" dateid="date1" columnsize="col-12"  :recaptcha="recaptcha"></tour-form>
					</div>
				</div>
		</div>
	</div>
</template>

<script>
	import Sticky from 'vue-sticky-directive';
	export default {
		props: {
			tour: Object,
			recaptcha: String,
		},
		data() {
			return {
				offset: {top: 100, bottom: 0},
				loaded: true,
			}
		},
		methods: {
			hideButton(){
				$('#openForm').hide();
			},
    },
  }
</script>
<style lang="scss">
.sticky{
	-webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease ;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}
</style>