<template>
	<div class="container opening-hours">
		<div class="row" :class="day == 1 ? 'today' : 'not-today'">
			<div class="col-6">
				<p>Monday</p>
			</div>
			<div class="col-6">
				<p>9:00-17:00</p>
			</div>
		</div>
		<div class="row" :class="day == 2 ? 'today' : 'not-today'">
			<div class="col-6">
				<p>Tuesday</p>
			</div>
			<div class="col-6">
				<p>9:00-17:00</p>
			</div>
		</div>
		<div class="row" :class="day == 3 ? 'today' : 'not-today'">
			<div class="col-6">
				<p>Wednesday</p>
			</div>
			<div class="col-6">
				<p>9:00-17:00</p>
			</div>
		</div>
		<div class="row" :class="day == 4 ? 'today' : 'not-today'">
			<div class="col-6">
				<p>Thursday</p>
			</div>
			<div class="col-6">
				<p>9:00-17:00</p>
			</div>
		</div>
		<div class="row" :class="day == 5 ? 'today' : 'not-today'">
			<div class="col-6">
				<p>Friday</p>
			</div>
			<div class="col-6">
				<p>9:00-17:00</p>
			</div>
		</div>
		<div class="row" :class="day == 6 ? 'today' : 'not-today'">
			<div class="col-6">
				<p>Saturday</p>
			</div>
			<div class="col-6">
				<p>9:00-17:00</p>
			</div>
		</div>
		<div class="row" :class="day == 7 ? 'today' : 'not-today'">
			<div class="col-6">
				<p>Sunday</p>
			</div>
			<div class="col-6">
				<p>9:00-17:00</p>
			</div>
		</div>
	</div>
</template>
<script>
	export default {
		data() {
			return {
				day: this.getDay(),
			}
		},
		methods: {
			getDay(){
        var d = new Date();
			  var n = d.getDay()
			  return n;
      }
    },
  }
</script>
<style lang="scss">
	.opening-hours{
		.today{
			p{
				font-weight: 900 !important;
			}
		}
		p{
			margin-bottom: 0 !important;
		}
	}
</style>