<template>
	<form @submit.prevent="submit" class="row">
		<div :class="'form-group ' + columnsize">
			<label for="name" :class="'mb-1 text-' + labels"><b>Name*</b></label>
			<input type="text" class="form-control" name="name" placeholder="Name*" v-model="fields.name" />
			<div v-if="errors && errors.name" class="text-primary">{{ errors.name[0] }}</div>
		</div>
		<div :class="'form-group ' + columnsize">
			<label for="phone" :class="'mb-1 text-' + labels"><b>Phone</b></label>
			<vue-phone-number-input v-model="phone" @update="setPhoneNumber"></vue-phone-number-input>
			<div v-if="errors && errors.phone" class="text-primary">{{ errors.phone[0] }}</div>
		</div>
		<div :class="'form-group ' + columnsize">
			<label for="email" :class="'mb-1 text-' + labels"><b>Email Address*</b></label>
			<input type="email" class="form-control" name="email" placeholder="Email Address*" v-model="fields.email" />
			<div v-if="errors && errors.email" class="text-primary">{{ errors.email[0] }}</div>
		</div>
		<div :class="'form-group ' + columnsize">
			<label for="date" :class="'mb-1 text-' + labels"><b>Tour Date*</b></label>
			<datetime v-model="fields.date" :input-id="dateid"></datetime>
			<div v-if="errors && errors.date" class="text-primary">{{ errors.date[0] }}</div>
		</div>
		<div class="col-12 mt-2">
			<div class="row">
				<div class="col-12 text-center">
					<google-re-captcha-v3
					  v-model="fields.gRecaptchaResponse"
					  ref="captcha"
					  :site-key="recaptcha"
					  :id="'contact_us_id' + dateid"
					  action="contact_us"
					></google-re-captcha-v3>
					<p class="text-smaller mb-2" :class="'text-' + labels">This site is protected by reCAPTCHA and the Google <a href="https://policies.google.com/privacy" target="_blank" :class="'text-' + labels"><u>Privacy Policy</u></a> and <a href="https://policies.google.com/terms" target="_blank" :class="'text-' + labels"><u>Terms of Service</u></a> apply.</p>
					<button type="submit"  :class="'btn btn-' +btn+ ' w-100'">Request Booking</button>
				</div>
			</div>
		</div>
	</form>
</template>

<script>
	import GoogleReCaptchaV3 from './googlerecaptchav3/GoogleReCaptchaV3';
	import VuePhoneNumberInput from 'vue-phone-number-input';
	import { Datetime } from 'vue-datetime';
	export default {
		components: {
      datetime: Datetime,
      GoogleReCaptchaV3
    },
		props: {
			recaptcha: String,
			columnsize: String,
			btn: String,
			dateid: String,
			labels: String,
			page: String,
			about: String,
			tour: Object,
		},
		mounted(){
			setTimeout(function(){
				$('.vdatetime input').attr('placeholder','Click to select date');
			}, 500);
		},	
		data() {
			return {
				fields: {
					country: "",
					phone: "",
					tour: this.tour.title,
					date: null,
					gRecaptchaResponse: null,
				},
				phone: null,
				errors: {},
				success: false,
				loaded: true,
			}
		},
		methods: {
			setPhoneNumber(value){
				this.fields.phone = value.formattedNumber;
    	},
			messageSent(){
        this.fields = {};
      },
      changeCountry(value){
	  		this.fields.country = value;
	  	},
      submit() {
      	if (this.loaded) {
      		this.loaded = false;
      		this.success = false;
      		this.errors = {};
      		
      		document.getElementById("loader").classList.add("on");
		      document.getElementById("loader-message").innerHTML = "Sending Request";

      		axios.post('/request-tour', this.fields)
      		.then(response => {
      			this.$refs.captcha.execute();
	          // Empty fields and enable success message
	          this.loaded = true;
	          this.success = true;
	          this.messageSent();
	          document.getElementById("loader-message").innerHTML = "Request sent successfully";
            $('#close-loader-btn').removeClass('d-none').addClass('d-block');
            $('#loader-roller').removeClass('d-block').addClass('d-none');
            $('#loader-success').removeClass('d-none').addClass('d-block');
	          $('#enquire_modal').modal('hide');
	        })
      		.catch(error => {
	         // Error handling
	         console.log(error.response);
	         	this.$refs.captcha.execute();
	          this.loaded = true;
	          if (error.response.status === 422) {
	          	this.errors = error.response.data.errors || {};
	          	console.log(error.response);
	          	document.getElementById("loader-message").innerHTML = "Check form for errors";
	            document.getElementById("loader").classList.remove("on");
	          }
	        });
      	}else{
      		$('#recaptcha-error').html('Please confirm you are not a robot.');
      	}
      },
    },
  }
</script>
<style lang="scss">
.vue-phone-number-input{
	border-radius: 5px;
	height: 50px !important;
	-webkit-box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.2) !important;
	-moz-box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.2) !important;
	box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.2) !important;
	input,
	.country-selector{
		height: 50px !important;
	}
	.country-selector__country-flag{
		top: 27px;
	}
	.country-selector__toggle{
		top: calc(50% - 6px);
	}
	.country-selector__input,
	.input-tel__input{
		border: 0 !important;
		height: 50px;
	}
	.country-selector__input{
		border-right: 1px solid #f2f2f2 !important;
	}
}
.vdatetime-input{
	padding: 1rem;
	border: 0;
	height: 50px;
	width: 100%;
	cursor: pointer;
	border-radius: 5px;
	box-shadow: none !important;
	outline: none !important;
	font-family: "PT Sans", sans-serif;
	-webkit-box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.2) !important;
	-moz-box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.2) !important;
	box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.2) !important;
	&:focus{
		outline: none !important;
		border-color: #0269DD !important;
	}
}
.vdatetime-popup__header,
.vdatetime-calendar__month__day--selected > span > span, .vdatetime-calendar__month__day--selected:hover > span > span{
	background-color: #248D5B !important;
}
.vdatetime-popup__actions__button,
.vdatetime-year-picker__item--selected,
.vdatetime-month-picker__item--selected{
	color: #248D5B !important;
}
.sticky{
	-webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease ;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}
</style>