<template>
  <div id="home-filter" class="container-fluid container-wide py-5 mob-pt-3">
    <div class="row">
      <div class="card border-0 px-5 py-5 pb-4 mob-px-3 mob-py-4 shadow mx-3 w-100">
        <div class="row half_row">
          <div class="col-12 text-center text-lg-left half_col">
            <h3 class="mb-3 mob-mb-0">Find your tour</h3>
            <p class="d-md-none text-small mt-0">Scroll down to view tours</p>
          </div>
          <div class="col-lg-4 col-6 text-center text-lg-left half_col">
            <div class="select-holder">
              <select id="category" class="form-control" v-model="category" v-on:change="changeCat()">
                <option value="*">Category</option>
                <option v-for="category in categories" :value="category.id">{{category.name}}</option>
              </select>
            </div>
          </div>
          <div class="col-lg-4 col-6 text-center text-lg-left half_col">
            <div class="select-holder">
              <select id="tour" class="form-control" v-model="tour" v-on:change="changeTour()">
                <option value="0">Tour</option>
                <option v-for="tour in tourlist" :value="tour.id">{{tour.title}}</option>
              </select>
            </div>
          </div>
          <div class="col-lg-4 half_col mob-mt-3">
            <datetime type="date" v-model="start" :input-class="'form-control datepick'" format="dd/MM/yyyy"></datetime>
            <div v-if="errors && errors.start" class="text-primary">{{ errors.start[0] }}</div>
            <p class="mt-1 text-small mob-mb-3 text-center"> or: <u class="text-primary cursor-pointer d-block d-md-inline" @click="resetStart()">reset date & view next upcoming tours</u></p>
          </div>
        </div>
        <div class="row half_row mt-4 position-relative z-2" v-if="tour == 0 && events.total == 0">
          <div class="col-12 half_col" v-if="start != ''">
            <p class="mb-0 text-center"><b>Sorry, there are no tours available on this date.</b><br/><u class="text-primary cursor-pointer" @click="resetStart()">reset date & view next upcoming tours</u></p>
          </div>
          <div class="col-12 half_col" v-else>
            <div class="row half_row">
              <div class="col-lg-6 half_col mt-3 mob-px-4" v-for="tour in tours.data">
                <div class="row">
                  <div class="col-lg-4 mob-pl-3">
                    <picture>
                      <source :srcset="tour.square" :type="tour.mimetype"/> 
                      <source :srcset="tour.squarewebp" type="webp"/> 
                      <img :srcset="tour.square" :type="tour.mimetype" :alt="tour.title + ' image'" class="square w-100 shadow lazy" />
                    </picture>
                  </div>
                  <div class="col-lg-8 py-3">
                    <div class="row">
                      <div class="col-9 pr-0">
                        <h5 class="mb-1 mob-mb-1">{{tour.title}}</h5>
                      </div>
                      <div class="col-3 text-right">
                        <toggle-favorite :tour="tour"></toggle-favorite>
                        <p class="text-small mb-0 text-primary" v-if="tour.likes == 0"><b>NEW!</b></p>
                      </div>
                    </div>
                    <p class="mb-1 text-1 mob-text-small"><i class="fa fa-map-marker text-primary mr-2"></i><b>{{tour.starts_at}}</b></p>
                    <p class="text-small pr-3 mob-pr-0 mb-1 mob-mb-1">{{tour.excerpt.substr(0, 100)}}...</p>
                    <p class="text-1"><a :href="'/tours/'+tour.category.slug+'/'+tour.slug" class="text-dark"><b>Find out more</b><i class="fa fa-arrow-circle-right text-primary ml-2"></i></a></p>
                  </div>
                </div>
              </div>
              <div class="col-12 pt-5 mob-pt-0 text-center" v-if="tours.to < tours.total">
                <div class="btn btn-primary" @click="moreTours()">Load More</div>
              </div>
            </div>
          </div>
          
        </div>
        <div class="row position-relative z-2" v-else-if="tour != 0 && events.total > 0">
          <div class="col-12">
            <p class="mb-0"><b>Selected tour:</b> {{getTourName(tour)}}</p>
          </div>
          <div class="col-md-6 mt-4" v-for="event in events.data">
            <div class="card py-3 px-3 mob-px-0 border-0 shadow">
              <div class="container">
                <div class="row text-center text-md-left">
                  <div class="col-md-7 mob-mb-2">
                    <p class="text-small mb-0 mt-2 pt-1"><i class="fa fa-calendar mr-1 text-primary"></i> <b>{{moment(event.start)}}</b><i class="fa fa-clock-o mr-1 ml-4 text-primary"></i> <b>{{momenttime(event.start)}}</b></p>
                  </div>
                  <div class="col-md-5 mob-mb-2">
                    <a :href="event.link" target="_blank">
                      <div :class="'btn btn-primary btn-icon btn-small'">Book now <i class="fa fa-arrow-circle-right"></i></div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row position-relative z-2" v-else-if="tour != 0 && events.total == 0 && start != ''">
          <div class="col-12 half_col">
            <p class="mb-0 text-center"><b>Sorry, there are no tours available on this date.</b><br/><u class="text-primary cursor-pointer" @click="resetStart()">reset date & view next upcoming tours</u></p>
          </div>
        </div>
        <div class="row position-relative z-2" v-else-if="tour != 0 && events.total == 0 && start == ''">
          <div class="col-12 half_col">
            <p class="mb-0 text-center"><b>Sorry, there are no tours available.</b><br/><u class="text-primary cursor-pointer" @click="resetStart()">reset date & view next upcoming tours</u></p>
          </div>
        </div>
        <div class="row position-relative z-2" v-else-if="tour == 0 && events.total > 0">
          <div class="col-md-6 mt-4 text-center text-md-left" v-for="event in events.data">
            <p class="mb-1"><a :href="'/tours/'+event.tour.category.slug+'/'+event.tour.slug" class="text-primary"><b>{{event.tour.title}}</b></a></p>
            <p class="text-small">{{event.tour.excerpt.substr(0, 70)}}...</p>
            <div class="card py-3 px-3 mob-px-0 border-0 shadow">
              <div class="container">
                <div class="row text-center text-md-left">
                  <div class="col-md-7 mob-mb-2">
                    <p class="text-small mb-0 mt-2 pt-1"><i class="fa fa-calendar mr-1 text-primary"></i> <b>{{moment(event.start)}}</b><i class="fa fa-clock-o mr-1 ml-4 text-primary"></i> <b>{{momenttime(event.start)}}</b></p>
                  </div>
                  <div class="col-md-5 mob-mb-2">
                    <a :href="event.link" target="_blank">
                      <div :class="'btn btn-primary btn-icon btn-small'">Book now <i class="fa fa-arrow-circle-right"></i></div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
		</div>
	</div>
</template>
<script>
  import 'vue-datetime/dist/vue-datetime.css';
  export default {
  	props: {
      categories: Array,
    },
    data() {
      return {
        errors: {},
        success: false,
        loaded: true,
        events: {total: 0},
        tours: {},
        tourspage: 1,
        tourlist: {},
        tour: 0,
        limit: 10,
        start: "",
        category: "*",
      }
    },
    watch:{
      tour: function(newValue, oldValue) {
        this.getEvents();
      },
      tours: function(newValue, oldValue) {},
      events: function(newValue, oldValue) {},
      start: function(newValue, oldValue) {
        if(newValue == ''){
          $('#home-filter .vdatetime').removeClass('hide-placeholder');
        }else{
          $('#home-filter .vdatetime').addClass('hide-placeholder');
          this.getEvents();
        }
      }
    },
    mounted(){
      this.getTours();
      this.getToursList();
    },
    methods: {
      moreTours(){
        this.tourspage= this.tourspage + 1;
        this.getMoreTours(this.tourspage);
      },
      changeTour(){
        if(this.tour != 0){
          this.category = this.setCat(this.tour);
        }
        this.getEvents();
      },
      changeCat(){
        this.start = "";
        this.tour = 0;
        this.tours = {};
        this.tourlist = {};
        this.events = {};
        this.events.total = 0;
        this.tourspage = 1;
        this.getTours();
        this.getToursList();
      },
      getTourName(tour){
        var result = this.tours.data.filter(obj => {
          return obj.id === tour
        });
        return result[0].title;
      },
      setCat(tour){
        var result = this.tours.data.filter(obj => {
          return obj.id === tour
        });
        return result[0].category_id;
      },
      resetStart(){
        this.start = "";
        this.tour = 0;
        this.category = "*";
        this.getEvents();
      },
      moment: function (date) {
        return moment(date).format('DD/MM/YYYY');
      },
      momenttime: function (date) {
      	return moment(date).format('HH:mm');
      },
      getTours(page) {
        if (this.loaded) {

          this.loaded = false;
          this.success = false;
          this.errors = {};
          this.offset = 0;

          axios.get('/tours/home-get?category='+this.category+'&page=' + page).then(response => {
            // Empty fields and enable success message
            this.fields = {};
            this.loaded = true;
            this.success = true;
            this.tours = response.data;
            console.log(this.tours);
          })
          .catch(error => {
            // Error handling
            this.loaded = true;
            console.log(error);
          });
        }
      },
      getMoreTours(page) {
        console.log(page);
        if (this.loaded) {

          this.loaded = false;
          this.success = false;
          this.errors = {};
          this.offset = 0;

          axios.get('/tours/home-get?category='+this.category+'&page=' + page).then(response => {
            // Empty fields and enable success message
            this.fields = {};
            this.loaded = true;
            this.success = true;
            
            for(var x = 0; x < response.data.data.length; x++){
              this.tours.data.push(response.data.data[x]);
            }
            this.tours.current_page = this.tourspage;
            this.tours.to = this.tours.to + response.data.data.length;
            console.log(this.tours);
          })
          .catch(error => {
            // Error handling
            this.loaded = true;
            console.log(error);
          });
        }
      },
      getToursList() {
        axios.get('/api/tours/home-get-list?category='+this.category).then(response => {
          // Empty fields and enable success message
          this.fields = {};
          this.tourlist = response.data;
        })
        .catch(error => {
          // Error handling
          this.loaded = true;
          console.log(error);
        });
      },
      getEvents(page = 1) {
        if (this.loaded) {
          this.loaded = false;
          this.success = false;
          this.errors = {};
          this.offset = 0;
          axios.get('/api/events/get/' + this.tour + '?page=' + page + '&start=' + this.start).then(response => {
            // Empty fields and enable success message
            this.loaded = true;
            this.success = true;
            this.events = response.data;
            console.log(response.data);
          })
          .catch(error => {
            // Error handling
            this.loaded = true;
            console.log(error);
          });
        }
      },
    },
  }
</script>