<template>
  <div class="container py-5 my-5 mob-my-0 mob-py-0">
    <div class="row" v-if="events.total > 0">
      <div class="col-12 text-center text-lg-left">
        <h3 class="mb-2">Upcoming {{events.data[0].tour.category.name}} Tours</h3>
      </div>
			<div class="col-md-6 mt-4 text-center text-md-left" v-for="event in events.data">
        <p class="mb-1"><a :href="'/tours/'+event.tour.category.slug+'/'+event.tour.slug" :class="'text-'+color"><b>{{event.tour.title}}</b> <i class="fa fa-arrow-right"></i></a></p>
        <p class="text-small">{{event.tour.excerpt.substr(0, 100)}}...</p>
        <div class="card py-3 px-3 mob-px-0 border-0 shadow">
          <div class="container">
            <div class="row text-center text-md-left">
              <div class="col-md-7 mob-mb-2">
                <p class="text-small mb-0 mt-2 pt-1"><i :class="'fa fa-calendar mr-1 text-'+color"></i> <b>{{moment(event.start)}}</b><i :class="'fa fa-clock-o mr-1 ml-4 text-'+color"></i> <b>{{momenttime(event.start)}}</b></p>
              </div>
              <div class="col-md-5 mob-mb-2">
                <a :href="event.link" target="_blank">
                  <div :class="'btn btn-'+color+' btn-icon btn-small'">Book now <i class="fa fa-arrow-circle-right"></i></div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
		</div>
    <div class="pt-1 mob-pt-0" v-else></div>
	</div>
</template>
<script>
  export default {
  	props: {
      cat: Number,
      color: String
    },
    data() {
      return {
        errors: {},
        success: false,
        loaded: true,
        events: {
          total: 0
        },
        limit: 10,
        category: {}
      }
    },
    watch:{
      events: function(newValue, oldValue) {}
    },
    mounted(){
      this.getEvents();

    },
    methods: {
      resetStart(){
        this.start = "";
        
      },
      moment: function (date) {
        return moment(date).format('DD/MM/YYYY');
      },
      momenttime: function (date) {
      	return moment(date).format('HH:mm');
      },
      getEvents(page = 1) {
        if (this.loaded) {
          this.loaded = false;
          this.success = false;
          this.errors = {};
          this.offset = 0;
          axios.get('/api/events/by-category/' + this.cat).then(response => {
            // Empty fields and enable success message
            this.loaded = true;
            this.success = true;
            this.events = response.data;
          })
          .catch(error => {
            // Error handling
            this.loaded = true;
            console.log(error);
          });
        }
      },
    },
  }
</script>