<template>
  <div class="like-toggle text-primary cursor-pointer" @click="toggle">
    <button class="toggle-favorite">
      <FavoriteIcon
        class="toggle-favorite__icon"
        :class="iconClasses"
        @animationend.native="onIconAnimationEnds"
      />
      <transition name="favorite-particles-transition">
        <div v-if="animating" class="toggle-favorite__particles"></div>
      </transition>
    </button>
    <b><span class="counter d-inline-block">{{counter}}</span></b>
  </div>
</template>

<script>
import FavoriteIcon from "./FavoriteIcon";
export default {
  name: "ToggleFavorite",
  props:{
    tour: Object
  },
  components: {
    FavoriteIcon
  },
  data() {
    return {
      counter: this.tour.likes,
      favorited: this.tour.liked,
      animating: false
    };
  },
  mounted(){
    console.log(this.favorited);
  },
  computed: {
    iconClasses() {
      return {
        "toggle-favorite__icon--favorited": this.favorited,
        "toggle-favorite__icon--animate": this.animating
      };
    }
  },
  methods: {
    toggle() {
      // Only animate on favoriting.
      if (!this.favorited) {
        this.animating = true;
        this.like();
      }else{
        this.unlike();
      }
      this.favorited = !this.favorited;
    },
    onIconAnimationEnds() {
      this.animating = false;
    },
    like() {
      axios.post('/tours/like/'+this.tour.id).then(response => {
        this.counter = response.data.likes;
      })
      .catch(error => {
        // Error handling
        console.log(error);
      });
    },
    unlike() {
      axios.post('/tours/unlike/'+this.tour.id).then(response => {
        this.counter = response.data.likes;
      })
      .catch(error => {
        // Error handling
        console.log(error);
      });
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
$particles-animation-duration: 0.8s;
$icon-animation-duration: 0.48s;
$icon-color: #01C2AA;
$icon-border-color: #01C2AA;

@keyframes favorite-icon-animation {
  0% {
    opacity: 1;
    transform: scale(0.1);
  }

  50% {
    opacity: 1;
    transform: scale(1.1);
  }

  80% {
    opacity: 1;
    transform: scale(0.9);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes favorite-particles-animation {
  0% {
    background-position: left center;
  }
  100% {
    background-position: right center;
  }
}
button.toggle-favorite {
  background: none;
  border: none;
  padding: 0;
  outline: inherit;
  cursor: pointer;
}
.like-toggle{
  margin-top: -10px;
}
// Particles animation.
.favorite-particles-transition-enter-active {
  background-image: url("/img/like/particles-sprite.png");
  background-size: 2500% auto;
  background-position: left center;
  background-repeat: no-repeat;

  animation-duration: $particles-animation-duration;
  animation-timing-function: steps(24);
  animation-name: favorite-particles-animation;
}

.toggle-favorite {
  font-size: 20px;
  position: relative;

  &__icon {
    height: 1em;
    width: 1em;

    // Transition mainly for when un-favoriting
    transition: fill-opacity 0.2s, stroke 0.2s;
    fill: #01C2AA;
    fill-opacity: 0;
    stroke: #01C2AA;

    &--favorited {
      fill-opacity: 1;
      stroke: #01C2AA;
    }

    // Icon animation
    &--animate {
      opacity: 0;
      transform: scale(0);
      animation-duration: $icon-animation-duration;
      animation-delay: $particles-animation-duration - $icon-animation-duration;
      animation-name: favorite-icon-animation;
    }
  }

  &__particles {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 3em;
    height: 3em;
  }
}
</style>
