// Desktop
@media only screen and (min-width : 1440px){
	.container-wide{
		max-width: 1400px;
	}
}
@media only screen and (min-width : 1179px) and (max-width : 1440px){
	.collage-card{
    left: 100px;
    top: calc(50% - 210px);
    width: calc(100% - 200px);
    height: 420px;
    &.collage-card-2{
	    top: calc(50% - 225px);
	    height: 450px;
    }
		p.text-larger{
			font-size: 1.2rem;
		}
	}
}
@media only screen and (min-width : 768px) and (max-width : 1178px){
	.collage-card{
		position: relative;
    margin-top: -100px;
    width: calc(100% - 4rem);
    left: 2rem;
    top: auto;
    height: auto;
    background: #fff;
    @include boxShadow();
    &.collage-card-2{
	    width: calc(100% - 4rem);
	    left: 2rem;
	    top: auto;
	    height: auto;
    }
		p.text-larger{
			font-size: 1.2rem;
		}
	}
	.create-private-tour{
		padding-left: 1rem !important;
    padding-right: 1rem !important;
	}
	.testimonial{
		.quote-top{
			left: 0;
		}
		.quote-bottom{
			right: 0;
		}
	}
}
@media only screen and (min-width : 768px){

}