// above iPad in portrait
@media only screen and (min-device-width : 769px){

}

// iPad in portrait
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
	body{
		h1{
			&.home-page-top{
		    font-size: 10vw;
		    line-height: 11vw;
			}
		}
		.collage-card{
	  	width: calc(100% - 4rem) !important;
	  	left: 2rem !important;
	  	top: 1rem !important;
	  	 p.text-larger{
	  	 	font-size: 1rem !important;
	  	 }
	  	 h2{
	  	 	font-size: 2rem !important;
	  	 }
	  }
	}
	.testimonial{
		padding-bottom: 0;
		.quote-top {
		  left: calc(50% - 50px);
		}
		.quote-bottom {
		  display: none;
		}
	}
	#scroll-menu,
	.menu{
		.menu-links{
			.menu-item{
				&:hover{
			  	box-shadow: none;
				}
			}
		}
	}
	#menu_btn, .menu_btn{
		top: 50px;
    right: 30px;
	}
	.home-top{
		p{
			&.text-large{
				font-size: 4vw;
				i{
					margin-right: 2.5vw;
				}
			}
		}
	}
	#mobile_menu{
		.mobile_menu_inner{
			.menu_item{
				a{
					font-size: 30px;
				}
			}
		}
		.mobile_menu_social{
			bottom: 50px;
			left: 50px;
		}
		.mobile_menu_logo{
			width: 280px;
		}
	}
	#mobile_menu .mobile_menu_inner .menu_item.active a::after{
		top: 18px;
	}
	.mobile-menu .menu-links .menu-item{
		font-size: 1.6rem;
	}
	.ipad_p_pr_15{
		padding-right: 15px !important; 
	}
	.ipad_p_mb_5{
		margin-bottom: 3rem !important
	}
	.ipadp-height-auto{
		height: auto !important;
	}
	.ipadp-pr-3{
		padding-right: 1rem !important;
	}
	.ipadp-mt-5{
		margin-top: 3rem !important;
	}
	.ipadp-mb-5{
		margin-bottom: 3rem !important;
	}
	.ipadp-py-0{
		padding-top: 0 !important;
		padding-bottom: 0 !important;
	}
	.ipadp-py-5{
		padding-top: 3rem !important;
		padding-bottom: 3rem !important;
	}
	.ipadp-pt-5{
		padding-top: 3rem !important;
	}
	.ipadp-pr-5{
		padding-right: 3rem !important;
	}
	.ipadp-px-3{
		padding-left: 1rem !important;
		padding-right: 1rem !important;
	}
	.ipadp-pt-0{
		padding-top: 0 !important;
	}
	.ipadp-mt-0{
		margin-top: 0 !important;
	}
	.ipadp-mx-auto{
		margin-left: auto !important;
		margin-right: auto !important;
	}
	.ipadp-mx-w-100{
    max-width: 100%;
  }
  #main-menu{
  	.menu_logo{
  		margin-left: -40px;
  	}
  }
}
// above iPad in portrait
@media only screen and (max-device-width : 768px){
	.below_ipad_p_hide{
		display: none !important;
	}
}