/*iPad Pro 9.7"*/
/* Portrait */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: portrait)
and (-webkit-min-device-pixel-ratio: 2) {
	.bg-fixed{
		background-attachment: initial;
	}
	#scroll-menu,
	.menu{
		.menu-links{
			.menu-item{
				&:hover{
			  	box-shadow: none;
				}
			}
		}
	}
}

/* Landscape */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: landscape)
and (-webkit-min-device-pixel-ratio: 2) {
	.bg-fixed{
		background-attachment: initial;
	}
	#scroll-menu,
	.menu{
		.menu-links{
			.menu-item{
				&:hover{
			  	box-shadow: none;
				}
			}
		}
	}
}
/*iPad Pro 10.5"*/
/* Portrait */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen
and (min-device-width: 834px)
and (max-device-width: 834px)
and (orientation: portrait)
and (-webkit-min-device-pixel-ratio: 2) {
	.bg-fixed{
		background-attachment: initial;
	}
	#scroll-menu,
	.menu{
		.menu-links{
			.menu-item{
				&:hover{
			  	box-shadow: none;
				}
			}
		}
	}
}

/* Landscape */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen
and (min-device-width: 1112px)
and (max-device-width: 1112px)
and (orientation: landscape)
and (-webkit-min-device-pixel-ratio: 2) {
	.bg-fixed{
		background-attachment: initial;
	}
	#scroll-menu,
	.menu{
		.menu-links{
			.menu-item{
				&:hover{
			  	box-shadow: none;
				}
			}
		}
	}
}
/*ipad PRo 12.9"*/
/* Portrait */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen
and (min-device-width: 1024px)
and (max-device-width: 1024px)
and (orientation: portrait)
and (-webkit-min-device-pixel-ratio: 2) {
	.bg-fixed{
		background-attachment: initial;
	}
	#scroll-menu,
	.menu{
		.menu-links{
			.menu-item{
				&:hover{
			  	box-shadow: none;
				}
			}
		}
	}
}

/* Landscape */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen
and (min-device-width: 1366px)
and (max-device-width: 1366px)
and (orientation: landscape)
and (-webkit-min-device-pixel-ratio: 2) {
	.bg-fixed{
		background-attachment: initial;
	}
	#scroll-menu,
	.menu{
		.menu-links{
			.menu-item{
				&:hover{
			  	box-shadow: none;
				}
			}
		}
	}
}