// iPad in portrait & landscape: ;
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  {
  body{
    h1{
      &.home-page-top{
        font-size: 8vw;
        line-height: 9vw;
      }
    }
    p.text-larger{
      font-size: 1.1rem;
    }
    .collage-card{
      width: calc(100% - 4rem) !important;
      left: 2rem !important;
      top: 3rem !important;
       p.text-larger{
        margin-bottom: 4px;
        font-size: 1rem !important;
        &.mb-5{
          margin-bottom: 1rem !important;
        }
       }
       h2{
        font-size: 2rem !important;
        margin-bottom: 0 !important;
       }
    }
    .create-private-tour{
      h2{
        font-size: 3rem;
        line-height: 1;
      }
      p.text-larger {
        font-size: 1rem;
        margin-bottom: 4px;
      }
    }
  }
  #scroll-menu,
  .menu{
    .menu-links{
      .menu-item{
        &:hover{
          box-shadow: none;
        }
      }
    }
  }
  .home-top{
    p{
      &.text-large{
        font-size: 3vw;
        i{
          margin-right: 1.8vw;
        }
      }
    }
  }
  .bg-fixed{
    background-attachment: none;
  }

  .ipad-overflow-hidden{
    overflow: hidden;
  }
  #menu_btn{
    display: block;
  }
  .logout{
    display: none;
  }
  .ipad-mt-5{
    padding-top: 3rem !important;
  }
  .ipad-pb-0{
    padding-bottom: 0 !important;
  }
  .ipad-pr-5{
    padding-right: 3rem !important;
  }
}