@media only screen and (max-width : 767px){
	.no-webp{
		.home-top{
			background-image: url('/img/bg/home-top-mob.jpg');
		}
		.about-top{
			background-image: url('/img/bg/about-top-mob.jpg');
		}
		.contact-top{
			background-image: url('/img/bg/contact-top-mob.jpg');
		}
	}
	.webp{
		.home-top{
			background-image: url('/img/bg/home-top-mob.webp');
		}
		.about-top{
			background-image: url('/img/bg/about-top-mob.webp');
		}
		.contact-top{
			background-image: url('/img/bg/contact-top-mob.webp');
		}
	}
	body {
		h1{
			font-size: 10vw;
			line-height: 1.2;
			&.page-top{
				font-size: 9vw;
			}
			&.news-title{
				font-size: 9vw;
			}
		}
		h2 {
			font-size: 10vw;
			line-height: 11vw;
		}
		h3{
			font-size: 10vw;
			line-height: 1.4;
		}
		h5{
			font-size: 5vw;
		}
		p{
			font-size: 4vw;
			line-height: 1.6;
			&.page-strap{
				font-size: 5vw;
			}
			&.text-small,
			&.mob-text-small{
				font-size: 3.5vw;
				line-height: 1.6;
			}
			&.strap {
				font-size: 6vw;
				line-height: 8vw;
			}
			&.statement{
				font-size: 5.5vw;
				line-height: 8.5vw;
			}
			&.text-large {
				font-size: 4.5vw;
			}
			&.text-larger{
				font-size: 4.8vw;
			}
			&.text-1{
				font-size: 4vw;
			}
		}
	}
	.form-control{
		font-size: 16px;
	}
	.bg-fixed{
		background-attachment: initial;
	}
	.mt-minus{
		margin-top: -60vh;
	}
	.mt-minus-smaller{
		margin-top: -8rem;
	}
	.menu{
		.menu_logo{
			width: 90px !important;
    	margin-left: 0;
		}
		.menu-links{
			.menu-item{
				i{
					font-size: 8vw;
					margin-right: 40px;
				}
			}
		}
	}
	#scroll-menu{
		.menu_logo{
			width: 160px !important;
			    margin-left: -15px;
		}
	}
	.mob-w-100{
		width: 100% !important;
	}
	.mob-p-0{
		padding: 0 !important;
	}
	.mob-p-3{
		padding: 1rem !important;
	}
	.mob-p-4{
		padding: 1.5rem !important;
	}
	.mob-pl-3{
		padding-left: 1rem !important;
	}
	.mob-px-0{
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	.mob-px-1{
		padding-left: 1rem !important;
		padding-right: 1rem !important;
	}
	.mob-px-3{
		padding-left: 1rem !important;
		padding-right: 1rem !important;
	}
	.mob-px-4{
		padding-left: 1.5rem !important;
		padding-right: 1.5rem !important;
	}
	.mob-px-5{
		padding-left: 3rem !important;
		padding-right: 3rem !important;
	}
	.mob-pr-1{
		padding-right: 1rem !important;
	}
	.mob-pr-3{
		padding-right: 1rem !important;
	}
	.mob-py-0{
		padding-top: 0 !important;
		padding-bottom: 0 !important;
	}
	.mob-py-3{
		padding-top: 1rem !important;
		padding-bottom: 1rem !important;
	}
	.mob-py-4{
		padding-top: 2rem !important;
		padding-bottom: 2rem !important;
	}
	.mob-py-5{
		padding-top: 3rem !important;
		padding-bottom: 3rem !important;
	}
	.mob-pb-0{
		padding-bottom: 0 !important;
	}
	.mob-pt-0{
		padding-top: 0 !important;
	}
	.mob-pt-3{
		padding-top: 1rem !important;
	}
	.mob-pt-4{
		padding-top: 1.5rem !important;
	}
	.mob-pt-5{
		padding-top: 3rem !important;
	}
	.mob-pb-3{
		padding-bottom: 1rem !important;
	}
	.mob-pb-5{
		padding-bottom: 3rem !important;
	}
	.mob-mx-auto{
		margin-left: auto !important;
		margin-right: auto !important;
	}
	.mob-mx-0{
		margin-left: 0 !important;
		margin-right: 0 !important;
	}
	.mob-my-0{
		margin-top: 0 !important;
		margin-bottom: 0 !important;
	}
	.mob-my-4{
		margin-top: 2rem !important;
		margin-bottom: 2rem !important;
	}
	.mob-mb-0{
		margin-bottom: 0 !important;
	}
	.mob-mb-1{
		margin-bottom: 0.5rem !important;
	}
	.mob-mb-2{
		margin-bottom: 0.75rem !important;
	}
	.mob-mb-3{
		margin-bottom: 1rem !important;
	}
	.mob-mb-4{
		margin-bottom: 1.5rem !important;
	}
	.mob-mb-5{
		margin-bottom: 3rem !important;
	}
	.mob-mt-0{
		margin-top: 0 !important;
	}
	.mob-mt-3{
		margin-top: 1rem !important;
	}
	.mob-mt-5{
		margin-top: 3rem !important;
	}
	.mob-m-auto{
		margin: auto !important;
	}
	.mob-float-left{
		float: left !important;
	}
	.mob-float-none{
		float: none !important;
	}
	.mob-height-auto{
		height: auto !important;
	}
	.mob-btn-full{
		width: 100% !important;
		max-width: 100% !important;
	}
	.mob-text-center{
		text-align: center !important;
	}
	.btn{
		height: auto;
		font-size: 16px;
    	padding: 12px 15px;
	}
	.btn-inline{
		max-width: 115px;
	}
	.line{
		&.mob-line-center{
			span{
				float: none !important;
				margin: auto !important;
			}
		}
	}
	.bg-half-right{
		position: relative;
		&:before{
			width: 100%;
			height: 100%;
			background: linear-gradient(to right, white 0%, white 30%, rgba(255, 255, 255, 0.6) 100%);
		}
		.inner-bg{
			width: 100%;
			height: 100%;
		}
	}
	.bg-half-left{
		position: relative;
		&:before{
			width: 100%;
			height: 100%;
			background: linear-gradient(to left, white 0%, white 30%, rgba(255, 255, 255, 0.6) 100%);
		}
		.inner-bg{
			width: 100%;
			height: 100%;
		}
	}
	.post-box{
		height: auto !important;
	}
	.collage-card{
		left: 1rem;
		top: 1rem;
		width: calc(100% - 2rem);
		&.collage-card-2{
			top: 1.5rem;
		}
	}
	.testimonial{
		height: auto;
		padding-bottom: 0;
		.quote-top{
			left: calc(50% - 50px);
		}
		.quote-bottom{
			display: none;
		}
	}
	.mt-minus-small {
	  margin-top: -30vh;
	}
}