@media only screen and (max-width : 411px){
	.work_slider.off{
		height: 1670px;
	}
}
@media only screen and (max-width : 375px){
	.work_slider.off{
		height: 1520px;
	}
}
@media only screen and (max-width : 360px){
	.work_slider.off{
		height: 1460px;
	}
}
@media only screen and (max-width : 320px){
	.work_slider.off{
		height: 1300px;
	}
	.gallery.button{
		top: 25vw;
	}
	.team_img{
		width: 290px;
		height: 290px;
	}
}